<div
  *ngIf="loading$ | async; else tableContent"
  class="d-flex justify-content-center align-items-center"
  style="height: 300px"
>
  <div class="spinner-border" role="status" style="width: 50px; height: 50px">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<ng-template #tableContent>
  <div class="table-responsive">
    <table class="table table-striped" [style.min-width]="'50rem'">
      <thead>
        <tr>
          <th>#</th>
          <th>Manufacturer Name</th>
          <th>Model</th>
          <th>Color</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let vehicle of vehicles$ | async"
          class="custom-cursor"
          (click)="onRowClick(vehicle)"
        >
          <td class="fw-bold">{{ vehicle.vehicleId }}</td>
          <td>{{ vehicle.manufacturerName }}</td>
          <td>
            {{ "(" + vehicle.modelYear + ") " + vehicle.model }}
          </td>
          <td>
            <span
              *ngIf="vehicle.colour; else noColour"
              class="d-flex align-items-center"
            >
              <span
                class="rounded-circle border border-dark"
                [style.background-color]="vehicle.colour.colourHex"
                style="width: 20px; height: 20px"
              ></span>
              <span class="ms-2">{{ vehicle.colour.colourName }}</span>
            </span>
            <ng-template #noColour>No colour!</ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
